/* screen - landing-page-v4 */

.border-class-1 {

}
.landing-page-v4 {
  background-color: var(--white);
  height: 3177px;
  overflow: hidden;
  position: relative;
  width: 1500px;
}
.landing-page-v4 .assess-tra-ain-292215-C61RwL {
  background-color: transparent;
  height: auto;
  left: 965px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1847px;
  width: 181px;
}
.landing-page-v4 .bonsai-acc-ans-292187-C61RwL {
  background-color: transparent;
  color: var(--astronaut);
  font-family: 'Segoe UI-Semilight', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 39.8px;
  position: absolute;
  text-align: center;
  top: 881px;
  width: 1384px;
}
.landing-page-v4 .bonsai-log-rk-white-1-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-start;
  left: 26px;
  overflow: hidden;
  padding: 10.6px 7.8px;
  position: absolute;
  top: 19px;
  width: 45px;
}
.landing-page-v4 .building-e-ent-292197-XUVN7C {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 27.3px;
  min-height: 27px;
  min-width: 291px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.landing-page-v4 .chemical-C61RwL {
  background-color: transparent;
  height: 96px;
  left: 696px;
  position: absolute;
  top: 1076px;
  width: 85px;
}
.landing-page-v4 .chemical-p-ion-292191-C61RwL {
  background-color: transparent;
  height: auto;
  left: 586px;
  letter-spacing: 0.00px;
  line-height: 27.3px;
  position: absolute;
  text-align: left;
  top: 1202px;
  white-space: nowrap;
  width: auto;
}
.landing-page-v4 .coming-soon-292190-hVtwVJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 122px;
  width: 330px;
}
.landing-page-v4 .coming-soon-292196-XUVN7C {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  margin-top: 16px;
  min-height: 20px;
  position: relative;
  text-align: left;
  width: 330px;
}
.landing-page-v4 .community--ums-323187-C61RwL {
  background-color: transparent;
  height: auto;
  left: 128px;
  letter-spacing: 0.00px;
  line-height: 27.3px;
  position: absolute;
  text-align: left;
  top: 2827px;
  white-space: nowrap;
  width: 261px;
}
.landing-page-v4 .connect-wi--us-323176-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1098px;
  letter-spacing: 0.00px;
  line-height: 27.3px;
  position: absolute;
  text-align: left;
  top: 2825px;
  white-space: nowrap;
  width: 261px;
}
.landing-page-v4 .contact-C61RwL {
  background-color: transparent;
  height: 126px;
  left: 1187px;
  position: absolute;
  top: 2648px;
  width: 121px;
}
.landing-page-v4 .contact-us-323175-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1098px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 2953px;
  width: 289px;
}
.landing-page-v4 .documentation-C61RwL {
  background-color: transparent;
  height: 95px;
  left: 705px;
  position: absolute;
  top: 2664px;
  width: 114px;
}
.landing-page-v4 .ellipse-10-2P4qUJ {
  background-color: transparent;
  height: 7px;
  left: 918px;
  position: absolute;
  top: 2016px;
  width: 7px;
}
.landing-page-v4 .ellipse-10-C61RwL {
  background-color: transparent;
  height: 7px;
  left: 326px;
  position: absolute;
  top: 1957px;
  width: 7px;
}
.landing-page-v4 .ellipse-10-QxM5SU {
  background-color: transparent;
  height: 7px;
  left: 521px;
  position: absolute;
  top: 2016px;
  width: 7px;
}
.landing-page-v4 .ellipse-10-VMr6Om {
  background-color: transparent;
  height: 7px;
  left: 723px;
  position: absolute;
  top: 1957px;
  width: 7px;
}
.landing-page-v4 .ellipse-10-mzXdH9 {
  background-color: transparent;
  height: 7px;
  left: 1118px;
  position: absolute;
  top: 1957px;
  width: 7px;
}
.landing-page-v4 .ellipse-3-2P4qUJ {
  background-color: transparent;
  height: 203px;
  left: 755px;
  position: absolute;
  top: 2007px;
  width: 203px;
}
.landing-page-v4 .ellipse-3-C61RwL {
  background-color: transparent;
  height: 203px;
  left: 161px;
  position: absolute;
  top: 1772px;
  width: 203px;
}
.landing-page-v4 .ellipse-3-QxM5SU {
  background-color: transparent;
  height: 203px;
  left: 358px;
  position: absolute;
  top: 2007px;
  width: 203px;
}
.landing-page-v4 .ellipse-3-VMr6Om {
  background-color: transparent;
  height: 203px;
  left: 555px;
  position: absolute;
  top: 1772px;
  width: 203px;
}
.landing-page-v4 .ellipse-3-mzXdH9 {
  background-color: transparent;
  height: 203px;
  left: 953px;
  position: absolute;
  top: 1772px;
  width: 203px;
}

.whiteLink {
  color: var(--white);
}

.indigoLink {
  color: var(--indigo);
}

.astronautLink {
  color: var(--astronaut)
}

.landing-page-v4 .ellipse-3-qr8e7q {
  background-color: transparent;
  height: 203px;
  left: 1150px;
  position: absolute;
  top: 2007px;
  width: 203px;
}
.landing-page-v4 .ellipse-9-2P4qUJ {
  background-color: transparent;
  height: 221px;
  left: 746px;
  position: absolute;
  top: 1998px;
  width: 221px;
}
.landing-page-v4 .ellipse-9-C61RwL {
  background-color: transparent;
  height: 221px;
  left: 152px;
  position: absolute;
  top: 1763px;
  width: 221px;
}
.landing-page-v4 .ellipse-9-QxM5SU {
  background-color: transparent;
  height: 221px;
  left: 349px;
  position: absolute;
  top: 1998px;
  width: 221px;
}
.landing-page-v4 .ellipse-9-VMr6Om {
  background-color: transparent;
  height: 221px;
  left: 546px;
  position: absolute;
  top: 1763px;
  width: 221px;
}
.landing-page-v4 .ellipse-9-mzXdH9 {
  background-color: transparent;
  height: 221px;
  left: 944px;
  position: absolute;
  top: 1763px;
  width: 221px;
}
.landing-page-v4 .ellipse-9-qr8e7q {
  background-color: transparent;
  height: 221px;
  left: 1141px;
  position: absolute;
  top: 1998px;
  width: 221px;
}
.landing-page-v4 .energy-C61RwL {
  background-color: transparent;
  height: 102px;
  left: 1185px;
  position: absolute;
  top: 1071px;
  width: 80px;
}
.landing-page-v4 .explore-do-ors-323170-C61RwL {
  background-color: transparent;
  height: auto;
  left: 613px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 2874px;
  width: 342px;
}
.landing-page-v4 .explore-si-del-292219-C61RwL {
  background-color: transparent;
  height: auto;
  left: 348px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 2077px;
  width: 232px;
}
.landing-page-v4 .export-bon-ons-323191-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1162px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 2066px;
  width: 181px;
}
.landing-page-v4 .forums-C61RwL {
  background-color: transparent;
  height: 117px;
  left: 185px;
  position: absolute;
  top: 2668px;
  width: 146px;
}
.landing-page-v4 .frame-3-C61RwL {
  align-items: flex-start;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid var(--white);
  border-radius: 60px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  height: 52px;
  justify-content: flex-start;
  left: 605px;
  min-width: 336px;
  padding: 15px 37px;
  position: absolute;
  top: 259px;
  width: auto;
}
.landing-page-v4 .frame-4-C61RwL {
  background-color: transparent;
  height: 100px;
  left: 640px;
  overflow: hidden;
  position: absolute;
  top: 1865px;
  width: 100px;
}
.landing-page-v4 .get-starte-ors-292183-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Segoe UI-Light', Helvetica, Arial, serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 418px;
  letter-spacing: 0.00px;
  line-height: 57.2px;
  position: absolute;
  text-align: center;
  top: 171px;
  white-space: nowrap;
  width: auto;
}
.landing-page-v4 .get-started-323172-C61RwL {
  background-color: transparent;
  height: auto;
  left: 613px;
  letter-spacing: 0.00px;
  line-height: 27.3px;
  position: absolute;
  text-align: left;
  top: 2826px;
  white-space: nowrap;
  width: 261px;
}
.landing-page-v4 .group-yRwlMo {
  background-color: transparent;
  flex-shrink: 0;
  height: 29px;
  position: relative;
  width: 29px;
}
.landing-page-v4 .have-quest-red-292293-C61RwL {
  background-color: transparent;
  color: var(--astronaut);
  font-family: 'Segoe UI-Semilight', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 143px;
  letter-spacing: 0.00px;
  line-height: 39.8px;
  position: absolute;
  text-align: center;
  top: 2454px;
  width: 1166px;
}
.landing-page-v4 .help-section-C61RwL {
  background-color: transparent;
  height: 155px;
  left: 586px;
  position: absolute;
  top: 1202px;
  width: 342px;
}
.landing-page-v4 .help-section-VMr6Om {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 1056px;
  min-height: 155px;
  padding: 4px 0;
  position: absolute;
  top: 1198px;
  width: 342px;
}
.landing-page-v4 .help-section-mzXdH9 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 116px;
  min-height: 155px;
  position: absolute;
  top: 1198px;
  width: 373px;
}
.landing-page-v4 .hero-C61RwL {
  background-color: transparent;
  height: 771px;
  left: -150px;
  position: absolute;
  top: 0px;
  width: 1818px;
}
.landing-page-v4 .how-do-sol-ork-292202-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Segoe UI-Light', Helvetica, Arial, serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 194px;
  letter-spacing: 0.00px;
  line-height: 57.2px;
  position: absolute;
  text-align: center;
  top: 1600px;
  white-space: nowrap;
  width: 1115px;
}
.landing-page-v4 .join-the-b-ces-323185-C61RwL {
  background-color: transparent;
  height: auto;
  left: 128px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 2875px;
  width: 342px;
}
.landing-page-v4 .learn-how--ion-323174-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1098px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 2875px;
  width: 342px;
}
.landing-page-v4 .learn-more-292285-1fL28K {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  margin-top: 18px;
  min-height: 20px;
  position: relative;
  text-align: left;
  width: 330px;
}
.landing-page-v4 .line-1-2P4qUJ {
  background-color: transparent;
  height: 60px;
  left: 920px;
  position: absolute;
  top: 1960px;
  width: 60px;
}
.landing-page-v4 .line-1-C61RwL {
  background-color: transparent;
  height: 60px;
  left: 330px;
  position: absolute;
  top: 1960px;
  width: 60px;
}
.landing-page-v4 .line-1-QxM5SU {
  background-color: transparent;
  height: 60px;
  left: 523px;
  position: absolute;
  top: 1960px;
  width: 60px;
}
.landing-page-v4 .line-1-VMr6Om {
  background-color: transparent;
  height: 60px;
  left: 727px;
  position: absolute;
  top: 1960px;
  width: 0x;
}
.landing-page-v4 .line-1-mzXdH9 {
  background-color: transparent;
  height: 60px;
  left: 1120px;
  position: absolute;
  top: 1960px;
  width: 60px;
}
.landing-page-v4 .line-10-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 856px;
  position: absolute;
  top: 2832px;
  width: 337px;
}
.landing-page-v4 .line-11-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 820px;
  position: absolute;
  top: 1220px;
  width: 329px;
}
.landing-page-v4 .line-12-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 370px;
  position: absolute;
  top: 1220px;
  width: 329px;
}
.landing-page-v4 .line-9-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 371px;
  position: absolute;
  top: 2832px;
  width: 337px;
}
.landing-page-v4 .logistics--ion-292286-1fL28K {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 27.3px;
  min-height: 27px;
  min-width: 383px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.landing-page-v4 .logistics-C61RwL {
  background-color: transparent;
  height: 88px;
  left: 164px;
  position: absolute;
  top: 1084px;
  width: 197px;
}
.landing-page-v4 .mask-group-C61RwL {
  background-color: transparent;
  height: 844px;
  left: 0px;
  position: absolute;
  top: 1503px;
  width: 1500px;
}
.landing-page-v4 .microsoft--ems-292182-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1199px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: right;
  top: 32px;
  width: auto;
}
.landing-page-v4 .privacy-an-ies-292298-C61RwL {
  background-color: transparent;
  height: auto;
  left: 907px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 3126px;
  width: auto;
}
.landing-page-v4 .project-bo-ors-292249-C61RwL {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}
.landing-page-v4 .provision--ace-292207-C61RwL {
  background-color: transparent;
  height: auto;
  left: 173px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1843px;
  width: 181px;
}
.landing-page-v4 .rectangle-13-C61RwL {
  background-color: transparent;
  height: 845px;
  left: 0px;
  position: absolute;
  top: 1502px;
  width: 1500px;
}
.landing-page-v4 .rectangle-15-C61RwL {
  background-color: transparent;
  height: 821px;
  left: 0px;
  position: absolute;
  top: 3426px;
  width: 1500px;
}
.landing-page-v4 .rectangle-21-C61RwL {
  background-color: rgba(235,237,239,1.0);
  height: 80px;
  left: 0px;
  position: absolute;
  top: 3099px;
  width: 1500px;
}
.landing-page-v4 .review-mac-lan-292211-C61RwL {
  background-color: transparent;
  height: auto;
  left: 566px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 1845px;
  width: 181px;
}
.landing-page-v4 .solution-a-iew-292185-FY3HhL {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 18px;
  min-height: 18px;
  min-width: 246px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.landing-page-v4 .terms-of-use-292299-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1089px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 3126px;
  width: auto;
}
.landing-page-v4 .trademarks-292300-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1215px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 3126px;
  width: auto;
}
.landing-page-v4 .train-bons-ain-292223-C61RwL {
  background-color: transparent;
  height: auto;
  left: 767px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 2093px;
  width: 181px;
}
.landing-page-v4 .use-ai-to--and-292284-1fL28K {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  margin-top: 13px;
  min-height: 81px;
  position: relative;
  text-align: left;
  width: 342px;
}
.landing-page-v4 .use-ai-to--ety-292189-hVtwVJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 342px;
}
.landing-page-v4 .use-ai-to--ort-292195-XUVN7C {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.00px;
  margin-top: 12px;
  min-height: 61px;
  position: relative;
  text-align: left;
  width: 342px;
}
.landing-page-v4 .vector-1-2P4qUJ {
  background-color: transparent;
  height: 6px;
  left: 976px;
  position: absolute;
  top: 1959px;
  width: 6px;
}
.landing-page-v4 .vector-1-C61RwL {
  background-color: transparent;
  height: 6px;
  left: 385px;
  position: absolute;
  top: 2016px;
  width: 6px;
}
.landing-page-v4 .vector-1-QxM5SU {
  background-color: transparent;
  height: 6px;
  left: 579px;
  position: absolute;
  top: 1959px;
  width: 6px;
}
.landing-page-v4 .vector-1-VMr6Om {
  background-color: transparent;
  height: 6px;
  left: 782px;
  position: absolute;
  top: 2016px;
  width: 6px;
}
.landing-page-v4 .vector-1-mzXdH9 {
  background-color: transparent;
  height: 6px;
  left: 1176px;
  position: absolute;
  top: 2016px;
  width: 6px;
}
.landing-page-v4 .visit-our--ums-323171-C61RwL {
  background-color: transparent;
  height: auto;
  left: 613px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 2932px;
  width: 289px;
}
.landing-page-v4 .visit-our--ums-323186-C61RwL {
  background-color: transparent;
  height: auto;
  left: 128px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 2932px;
  width: 289px;
}
.landing-page-v4 .x-292186-FY3HhL {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 0;
  font-family: 'Full MDL2 Assets-Regular', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 19.9px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 28px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}
.landing-page-v4 .x-microsoft-020-292301-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1332px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 3126px;
  width: auto;
}
.segoeui-regular-normal-astronaut-18px {
  color: var(--astronaut);
  font-family: 'Segoe UI-Regular', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.segoeui-regular-normal-gravel-16px {
  color: var(--gravel);
  font-family: 'Segoe UI-Regular', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.segoeui-regular-normal-indigo-16px {
  color: var(--indigo);
  font-family: 'Segoe UI-Regular', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.segoeui-regular-normal-white-18px {
  color: var(--white);
  font-family: 'Segoe UI-Regular', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.segoeui-regular-normal-white-20px {
  color: var(--white);
  font-family: 'Segoe UI-Regular', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.segoeui-semi-normal-gravel-22px {
  color: var(--gravel);
  font-family: 'Segoe UI-Semilight', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --astronaut: rgba(37,61,116,1.0);
  --gravel: rgba(75,75,75,1.0);
  --indigo: rgba(86,122,200,1.0);
  --white: rgba(255,255,255,1.0);
}